<h1>Componentes</h1>


<form autocomplete="off" [formGroup]="form" (ngSubmit)="guardar()">
  <div class="row">
    <div class="col-12 col-md-6">
      <label for="nombreComponente" class="form-label">Nombre Componente</label>
      <input type="text" id="nombreComponente" formControlName="nombre" class="form-control">
    </div>
    <div class="col-12 col-md-6">
      <label for="cantPreguntas"  class="form-label">Cantidad de Preguntas</label>
      <input type="number" id="cantPreguntas" formControlName="cantPreguntas" class="form-control">
    </div>

  </div>

  <div class="form-group row">
    <label class=" col-form-label">&nbsp;</label>
    <div class="input-group col-md">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
<div class="row" *ngIf="componente.id">
  <div class="col-12 text-right">
    <button class="btn btn-primary " [routerLink]="['/pregunta','nuevo',componente.id]"  >
      <i class="fa fa-plus"></i>
      Agregar
    </button>
  </div>

  <div class="col-12">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Pregunta</th>
          <th scope="col">Ver</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of preguntas let i = index">
          <th scope="row">{{  i + 1 }}</th>
          <td>{{ item.enunciado }}</td>
          <td>
            <button class="btn btn-info mr-1" [routerLink]="['/pregunta', item.id, componente.id]">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger" (click)="eliminarPregunta(item.id)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

