<p>Crear Pregunta</p>
<form  autocomplete="off" [formGroup]="form" (ngSubmit)="guardar()">
  <div class="form-row">
    <div class="col">
      <label for="enunciado" class="form-label">Ingrese el eunciado</label>
      <textarea class="form-control" id="enunciado" rows="3"
      formControlName="enunciado"></textarea>
      <!-- <input type="hidden" formControlName="respuesta">   -->
    </div>
  </div>

  <div class="form-row" formArrayName="opciones">
    <div class="input-group input-group-sm mb-3" *ngFor="let item of opciones.controls; let i = index">
      <span class="input-group-text" id="inputGroup-sizing-sm">Opción {{ i + 1}} </span>
      <input class="form-control" type="text" [formControlName]="i">
      <input type="radio" class="btn-check" [id]="i" name="respuesta" [value]="item.value" autocomplete="off" [checked]="respuesta == item.value">
      <label class="btn btn-outline-success" [for]="i" (click)="respuesta = item.value">Respuesta Correcta</label>
      <button class="btn btn-danger" (click)="eliminarOpciones(i)">Borrar</button>
    </div>

  </div>

  <button type="button" class="btn btn-primary  btn-block" (click)="agregarOpciones('')">+Agregar</button>

  <div class="form-group row">
    <label class=" col-form-label">&nbsp;</label>
    <div class="input-group col-md">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>
</form>

<pre>
  Estado Formulario:  {{ form.valid }}
  <br>
  Status: {{ form.status }}
</pre>
<pre>
  {{ form.value | json}}
</pre>
<pre>
  {{ respuesta | json}}
</pre>
